
.ajudaul{
    text-align: justify;
}
.h1ajuda{
    margin-top: 100px;
}
.h1ajuda {
    font-family:'Felix Titling';
    font-size: 250%;
    border-style:hidden;
   text-align: left;
   color: rgb(184, 184, 6);
   background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   margin: 0%;
   margin-top: 200px;
   margin-left: 60px;
}
h2.h2{
    font-family:'Felix Titling';
    font-size: 200%;
    border-style:hidden;
    text-align: left;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0%;
    margin-top: 200px;
    margin-left: 1%;
    margin-bottom: 50px;
}
ul.info{
    font-size: 30px;
    color: #ffff00;
    margin-left: 1%;
}
#button{
    left: 60px;
    top: -70px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    margin-bottom: 0px;
}
.h3ajuda{
    margin-top: 70px;
    font-size: 40px;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 50px;
    margin-left: 10px;
}
p{
    font-size: 30px;
    color: #ffff00;
    margin: 0px;
    margin-top: 10px;
    margin-left: 1%;
}
.ulbutton{
    margin-top: 70px;
}
h4{
    color: aliceblue;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0%;
   margin-top: 1px;
   margin-left: 1%;
 margin-bottom: 50px;
}
.aimds{
    margin-top: 30px;
    margin-bottom: 50px;
}
.botaum{
    width: 60px;
    font-size: 40px;
    margin-left:80px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
}
.buteum{
    position:relative;
    top:-2px;
    right:10px;
    width: 60px;
    font-size: 40px;
    margin-left:20px;
    margin-right:10px;
}
.botao3{
    position:relative;
    top:-1px;
    right:5px;
    width: 60px;
    font-size: 40px;
    margin-left:60px;
    margin-right:10px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
}
.botao2{
    position:relative;
    top:-1px;
    right:10px;
    width: 60px;
    font-size: 40px;
    margin-left:20px;
    margin-right:10px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
}
.divbutton1{
    margin: 0px;
    margin-top: 50px;
    margin-left: 0%;
}
.divbutton2{
    margin: 0px;
    margin-top: -210px;
    margin-left: 20%;
}
.info{
    margin-bottom: 0px;
    margin-top: 0px;
}