.botao{
    position: relative;
    width: 60px;
    font-size: 40px;
    margin-left:20px;
    margin-right:40px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
}
.ajudaul{
    text-align: justify;
}
.h1ajuda{
    margin-top: 100px;
}
.h1ajuda {
    font-family:'Felix Titling';
    font-size: 250%;
    border-style:hidden;
   text-align: left;
   color: rgb(184, 184, 6);
   background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   margin: 0%;
   margin-top: 200px;
   margin-left: 60px;
}
h2{
    font-family:'Felix Titling';
    font-size: 200%;
    border-style:hidden;
   text-align: left;
   color: rgb(184, 184, 6);
   background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   margin: 0%;
   margin-top: 100px;
   margin-left: 1%;
}
li{
    font-size: 30px;
    color: #ffff00;
    margin-left: 1%;

}
#button{
    left: 60px;
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    
}
.h3ajuda{
    margin-top: 70px;
    font-size: 40px;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 100px;
    margin-left: 10px;
}
p{
    font-size: 30px;
    color: #ffff00;
    margin: 0px;
    margin-top: 10px;
    margin-left: 1%;
}
.ulbutton{
    margin-top: 70px;
}
h4{
    color: aliceblue;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0%;
   margin-top: 1px;
   margin-left: 1%;
 margin-bottom: 50px;
}
.aimds{
    margin-bottom: 100px;
}