/* <imports> */
@import url('https://fonts.cdnfonts.com/css/felix-titling');
@import url('https://fonts.cdnfonts.com/css/goudy-old-style');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.cdnfonts.com/css/turkish-times-new-roman');
@import url('https://fonts.cdnfonts.com/css/georgia-2');
@import url('https://fonts.cdnfonts.com/css/arial-mt');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');
/* </import> */
div{
    text-align: center;
}
h1{
    font-family: "Felix Titling";
}
p{
    font-family: "Goudy Old Style";
}
body{
    background-image: url('./imagens/teste2.3-fundos.gif');
    background-size: 100%;
}
.ulapp{
    font-size: 200%;
    text-decoration-color:#996600;
    position: relative;
    background-image: url(./imagens/button2.0.jpg);
    background-size: cover;
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(to bottom, #cc9900 0%, #ffff00 100%) space;
    border-image-slice: 3;
    border-width: 1px;
    width: 15%;
    position: relative;
    right: 18px;
    top: 70px;
}

.ajudaul{
    text-align: center;
}
.ulapp :link{
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}