.mapa{
    font-size: 0px;
    margin-top: 200px;
}

.tabela{
    height: 45px;
    width: 45px;
    margin: -2px;
    padding: 0px;
}

#jogador{
    background-image: url(/css/imagens/estrada-jogo.jpg);
}
