.mapa{
    font-size: 0px;
    margin-top: 100px;
}

.tabela{
    height: 45px;
    width: 45px;
    margin: -2px;
    padding: 0px;
}

#estrada{
    background-image: url("./imagens/chao1.png");
    background-size: 100%;

}
#parede{
    background-image: url('./imagens/parede.jpg');
}
#buttonjogo{
    left: 30px;
}
.botao{
    font-size: 40px;
    position: relative;
    width: 80px;
}
