    img{
        height: 100px;
        width: 100px;
        padding: 0px;
        margin: -2px;
    }
    .Dante0{
        background-image: url('/css/imagens/chaotutorial.png');
        background-size: 100%;
    }
    .Dante1{
        background-image: url('/css/imagens/chaonivel1.png');
        background-size: 100%;
    }
    .Dante2{
        background-image: url('/css/imagens/chaonivel2.png');
        background-size: 100%;
    }.Dante3{
        background-image: url('/css/imagens/chaonivel3.png');
        background-size: 100%;
    }.Dante4{
        background-image: url('/css/imagens/chaotunel.png');
        background-size: 100%;
    }
    #chao0{
        background-image: url('/css/imagens/chaotutorial.png');
        background-size: 100%;
    }
.mapa{
    margin-top: 2%;
    margin-left: 32.5%;
    background-size: 60px;
    
}

#mapatutorial{
    background-image: url('/css/imagens/chaotutorial.png');
}
#mapanivel1{
    background-image: url('/css/imagens/chaonivel1.png');
}
#mapanivel2{
    background-image: url('/css/imagens/chaonivel2.png');
}
#mapanivel3{
    background-image: url('/css/imagens/chaonivel3.png');
}
#mapanivel4{
    background-image: url('/css/imagens/chaotunel.png');
}
.textofutil{
    color: transparent;
    font-size: 0px;
}



th.minimapa{
    margin-top: 0px;
    height: 15px;
    width: 15px;
}
.imgmini{
    height: 20px;
    width: 20px;
    padding: 0px;
    margin: -2px;    
}
#DicaTutorial{
    margin: 0px;
    padding: 0px;
    margin-bottom: -400px;
}

.fic{
    font-family:'Felix Titling';
    font-size: 20px;
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
}

.EnigmaPergunta{
    color: rgb(184, 184, 6);
    background: linear-gradient(to bottom, #996600 0%, #ffff00 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    font-weight: bolder;
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.AjusteUnico{
    margin: -4px;
    height: 60px;
    width: 60px;
    padding: 0px;
}
.voltar{
    font-family: 'Goudy Old Style';
    font-size: 200%;
    text-align: center;
    background: linear-gradient(to bottom, #cc9900 0%, #ffff00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    margin: 0%;
}
.ButtonVoltar{
    font-size: 200%;
    text-decoration-color:#996600;
    position: relative;
    background-image: url(./imagens/button2.0.jpg);
    background-size: cover;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(to bottom, #cc9900 0%, #ffff00 100%) space;
    border-image-slice: 3;
    border-width: 1px;
    width: 15%;
    position: relative;
    right: 0px;
    top: 70px;
    
}

#ContoDoMinotauro{
    margin-top: -22.5%;
    width: 32%;
}