p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 187%;
    color: whitesmoke


}
.sobreh1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 520%;
    border-style:hidden;
    border-radius: 250%;
   text-align: center;
   color: rgb(86, 253, 198);
   margin-top: 100px;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 520%;
    text-align: center;
    color: rgb(86, 253, 198);
}
p{
    text-align: center;
}
.emmibutton{
    font-size: 70%;
    color: black;
    background-color: white;
    padding: 14px 40px;
    transition-duration: 0.4s;
    width: 15%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(86, 253, 198);
} 
.emmibutton:hover {
    background-color: whitesmoke ;
   
}
.emmibutton:active {
    box-shadow: 0 5px;
    transform: translateY(25px);
  }
#especialbutton{
    background-image: url('./imagens/videoplayback.gif');
    background-size: 300%;
}
