
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 187%;
    color: whitesmoke

}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 520%;
    border-style:hidden;
    border-radius: 250%;
   text-align: center;
   color: rgb(86, 253, 198);
}

ul{
    text-align: center;
}




